<% if (success && success.length) { %>
  <div class="custom-toast success show-toast">
    <i class="bi bi-check-circle-fill"></i>
    <span><%= success %></span>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="custom-toast error show-toast">
    <i class="bi bi-exclamation-circle-fill"></i>
    <span><%= error %></span>
  </div>
<% } %>