<% layout("/layouts/boilerplate") %>
  <body>
    <h3>All listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
<div class="row">
          <% for(let listing of alllistings) { %>
    <div class="card" style="width: 20rem;">
            <img src="<%= listing.image %>" class="card-img-top" alt="listings">
        <div class="card-body">
            <p class="card-text"><%=listing.title%> <br>
            &#x20B9;<%= listing.price.toLocaleString("en-IN") %> / night
            </p>
        </div>
    </div>
    <%}%>
</div>
  


