<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <form method="post" action="/listings">
      <input name="title" placeholder="enter title" type="text" />
      <br />
      <textarea
        name="description"
        placeholder="enter title"
        type="text"
      ></textarea>
      <br />
      <input name="image" placeholder="enter image URL" />
      <br />
      <input name="price" placeholder="enter price" type="number" />
      <br />
      <input name="location" placeholder="enter location" />
      <br />
    </form>
  </body>
</html>
