<% layout("/layouts/boilerplate") %>
<body>
  <h3>Create a new listing</h3>
  <form method="post" action="/listings">
    <div>
      <label for="title" class="form-label">title</label>
      <input
        name="title"
        placeholder="enter title"
        type="text"
        class="form-control"
      />
    </div>

    <div>
      <label for="description" class="form-label">Description</label>
      <textarea
        name="description"
        placeholder="enter description"
        type="text"
      ></textarea>
    </div>

    <br /><br />
    <input name="image" placeholder="enter image URL" />
    <br /><br />
    <input name="price" placeholder="enter price" type="number" />
    <br /><br />
    <input name="location" placeholder="enter location" />
    <br /><br />
    <input name="country" placeholder="enter country" />
    <br /><br />
    <button>Add</button>
  </form>
</body>
